
* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
}

html{
  height: 100%;
}

#root {
  height: 100%;
  position: fixed;
  width: 100%;
}

input {
  padding: 0 10px;
  font-weight: 100;
  font-style: italic;
  border: transparent;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.flex { display: flex}
.fgrow {flex-grow: 1}
.mw { width: 100vw}
.fw {width: 100%}

.main {
  @extend .center, .fgrow;
}

.button {
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-style: italic;
  color: gray;
  cursor: pointer;
}

.close {
  @extend .flex, .fw;
  justify-content: flex-end;
  button {
    margin: 0 20px;
  }
}

//-----game ----------------

.ngm {
  @extend .center, .fw;
  height: 90vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);

  button {
    padding: 10px 20px;
  }
}

.wordRow {
  @extend .center, .fgrow;
  margin:0 20px ;
}


.letter {
  @extend .center;
  width: 60px;
  height: 60px;
  margin: 2px;
  border: 2px solid rgb(213, 213, 213);
  font-weight: bold;
}

.keyboard {
  @extend .center;
  max-width: 100vw;
  padding: 5px;

  .key {
    @extend .center;
      width: 33px;
      height: 60px;
      margin: 2px;
      border-radius: 5px;
      background-color: rgb(224, 224, 224);

    }
    
    .keyLong{
      @extend .key;
      padding: 0 10px ;
      font-size: 15px;
    }
}

.showGame {
  text-align: center;
  .wordRow {
    padding: 20px;
  }
  h1 {
    margin: 30px;
  }

  button {
    margin: 10px;
  }
}



.random {
  @extend .flex, .fw;
  justify-content: flex-end;
}

//----------auth=-------------

.auth{
  @extend .center;
  // height: 90vh;

  h1{
  margin:15px;
  }

  input {
    margin: 10px 0;
    border-bottom: 1px solid grey;
  }

  button { 
    padding: 3px 10px;
    margin: 20px;
  }

  span{
    margin: 10px;
    color: gray;
    font-weight: 100;
    font-style: italic;
  }
}

//----nav ------------------

.navCont{
  position: relative;
  height: 10vh;

  .nav {
  @extend .flex, .center, .mw;
  z-index: 1001;
  position: fixed;
  height: 10vh;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);

  .navItem { 
    margin: 0 20px; 
    max-width: 30px;
    }
  }
}
.logo {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

//----menu ---------------------

.menu {
  @extend .mw;
  z-index: 1000;
  height: 90vh;
  top: 10vh;
  position: absolute;
  background-color: rgba(252, 252, 252, 0.95);
}

.mField {
  @extend .center;
  height: 60px;
  border-bottom: 1px solid rgb(203, 202, 202);
}

.sUser {
  @extend .center;
  height: 60px;
  flex-direction: row;
  background-color:  rgb(241, 241, 241);
  
  button {
    right: 0;
    margin: 0 30px;
    position: absolute;
  }
}



.friendMenu { 
  @extend .menu;
  padding: 20px 0;

  .pastGames { 
  @extend .flex;
  margin:  0 30px;
  padding: 15px 0;
  border-bottom: 2px solid rgb(222, 222, 222);

  .small {
    .letter {
      width: 10px;
      height: 10px;
      font-size: 10px;
      }
    }

    .pastInfo{
      @extend .flex;
      flex-direction: column;
      h1 {
      font-size: 20px;
      }
    }
  }

  .showPast { 
    @extend .center;
    h1 {
      margin: 20px 0;
    }
  }

  .hide {
  @extend.center;
  margin: 20px 0;
  }
}


//--- search -----------------------

.search {
  display: flex;

  input {
    height: 30px;
    width: 80vw;
    border-radius: 9px;
    background-color: rgb(241, 241, 241);
  }
}

//----colours ----------------

.grey {
  background-color: grey !important;;
  border: 2px solid grey;
  color: white;
}

.green {
  background-color: #6dad64 !important;
  border: 2px solid #6dad64;
  color: white;
}

.yellow {
  background-color: #c9b659 !important;
  border: 2px solid #c9b659;
  color: white;
}

//----friend -------



.bm {
  @extend .center;  
  padding-top: 20px;
  justify-content: space-between;
  flex-grow: 1 ;
  h1 {
    margin-top: 20px;
  }
}

.req {
  @extend .center;
  .word {
    @extend .center;
    flex-direction: row;
    margin: 30px;
  }
}

.res {
  @extend .center, .fw;
  background-color: rgba(39, 39, 39, 0.3);
  position: absolute;
  height: 90vh;
  top: 10vh;

  .rmid {
    padding: 20px;
    background-color: white;
  }

  .resScores {
    border: 2px solid rgb(245, 245, 245);
    background-color:  rgb(245, 245, 245);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;

  
    h2 {
      font-size: 20px;
    }
  }

  .resShow {
    @extend .center;
    text-align: center; 

    .wordRow{
      display: block;
      margin: 20px 0;
    }
  }

  .winner {
    @extend .center;
    padding: 15px;
    margin: 15px 0;
  }

  .buttons {
    @extend .center;
    flex-direction: row;
    margin: 20px 0 40px;
    * {
      margin:0 10px;
    }

    button {
      background-color:  rgb(245, 245, 245);
      border: 2px outset rgb(230, 230, 230);
      border-radius: 10px;
      padding: 10px;
      color: rgb(0, 0, 0);
    }
  }

  .exit { 
    @extend  .flex;
    justify-content: flex-end;
    background-color: white;
  }
  
}


// score -------

.score {
  @extend .flex;
  padding: 15px 30px  ;
  justify-content: space-between;
  background-color: rgb(248, 248, 248);
  small{
    font-style: italic;
  }
  p {
    font-weight: bold;
  }
}



